<% unless @posts[0] == nil %>
<% @posts.each do |post| %>
<div class="entrytext">

    <h2><a href="/blog/<%= post.id %>"><%= post.title %></a></h2>
    <p><%= stripBB(post.partial_body) %></p>

</div>
<% end %>
<% else %>
<div class="entrytext">
<h2>Nincs több blog bejegyzés</h2>
</div>
<% end %>



