<form action="/login" class="pure-form pure-form-stacked" method="post">
  <%= Rack::Csrf.csrf_tag(env) %>
  <label for="email"> Email:
  <input id="email" type="text" placeholder="Email cím" required="required" pattern="([\w\.\-_]{1,})@([\w]{1,})\.([\w]{2,})(.[\w]{2,})?" data-errormessage-pattern-mismatch="Nem adtál meg érvényes email címet!" name="user[email]">
  </label><br />
  <label for="password"> Jelszó:
  <input id="password" type="password" placeholder="Jelszó" required="required" pattern="[\u00c0-\u00ffA-Za-z0-9]{8,}" data-errormessage-pattern-mismatch="A jelszónak minimum 8 karakterből kell állnia, lehet benne betű (ékezettel is) és szám." name="user[password]">
  </label><br />
  <input type="submit" class="pure-button pure-button-primary" value="Bejelentkezés">
</form>

