<% if env['warden'].authenticated? %>
<br />
<br />
<a class="pure-button pure-button-primary" href="/links">Mutasd az összes linket</a>
<% end %>
<br />
<br />
<a class="pure-button pure-button-primary" href="/feeds">Mutasd a legújabb híreket</a>

