body {
    background: url("images/background.png") repeat scroll 0 0 #8EE35D;
    color: #333;
    font-family: 'Lucida Grande',Verdana,Arial,Sans-Serif;
    font-size: 62.5%;
    text-align: center;
}
#content {
    background: url("images/middle.png");
    border: medium none;
    text-align: left;
    width:705px;
}

ul { list-style-type: none; }

p { white-space: pre-wrap; }

#header {
    background: url("images/header.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
    height: 185px;
    margin: 0;
    padding: 0;
    width: 742px;
}
#header h1 {
    font-size: 22px;
    padding-left: 80px;
    padding-top: 40px;
    text-align: left;
}
#navigation {
    background: url("images/nav.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
    height: 44px;
    line-height: 44px;
}
#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
#navigation ul li {
    display: inline;
}
#navigation ul li a {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 15px 1em;
    text-decoration: none;
}
#navigation ul li a:hover {
    background: url("images/nav_hover.png") repeat scroll center bottom rgba(0, 0, 0, 0);
    color: #fee202;
}
#content {
    font-size: 1.2em;
}
.narrowcolumn .entry, .widecolumn .entry {
    line-height: 1.4em;
}
.narrowcolumn .postmetadata {
    text-align: center;
}

#footer {
    background: url("images/footer.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
    border: medium none;
}
#footer a {
    color: #ffffff;
}

h1, h2, h3 {
    font-family: 'Trebuchet MS','Lucida Grande',Verdana,Arial,Sans-Serif;
    font-weight: bold;
}
h1 {
    font-size: 4em;
    text-align: center;
}
#headerimg .description {
    font-size: 1.4em;
    font-weight: bold;
    padding-left: 80px;
    text-align: left;
}

h2 {
    font-size: 1.6em;
}
h2.pagetitle {
    font-size: 1.6em;
}
#sidebar li {
    padding: 0 0 10px;
}

#sidebar li h2 {
    background-position: left top;
    background-repeat: no-repeat;
    color: #4A9121;
    font-family: 'Lucida Grande',Verdana,Sans-Serif;
    font-size: 12px;

}
h3 {
    font-size: 1.3em;
}
h1, h1 a, h1 a:hover, h1 a:visited, #headerimg .description {
    color: #8EE35D;
    text-shadow: 1px 1px 1px #69A845;
    text-decoration: none;
}
h2, h2 a, h2 a:visited, h3, h3 a, h3 a:visited {
    color: #8EE35D;
    text-shadow: 1px 1px 1px #69A845;
}
h2, h2 a, h2 a:hover, h2 a:visited, h3, h3 a, h3 a:hover, h3 a:visited, #sidebar h2, #wp-calendar caption, cite {
    text-decoration: none;
}

#sidebar {
    font: 1.2em 'Lucida Grande',Verdana,Arial,Sans-Serif;
    float:left;
}
small, #sidebar ul ul li, #sidebar ul ol li, .nocomments, .postmetadata, blockquote, strike {
    color: #777;
}

a, h2 a:hover, h3 a:hover {
    color: #4A9121;
    text-decoration: none;
}
a:hover {
    color: #64BF30;
}
body {
    margin: 0;
    padding: 0;
}
#page {

    margin: 0 auto;
    padding: 0;
    width: 742px;
}
.narrowcolumn {
    float: left;
    margin: 0;
    padding: 0 0 20px 35px;
    width: 450px;
}
.post {
    margin: 0px 90px 0px 0px;
    text-align: justify;
    float:left;
    width:400px;
}

.post b { font-size:14px; vertical-align: 30px; }

.post .pure-button {
   margin-top:40px;
}

.entrytext {
    text-align: justify;
    float:left;
    width:450px;
}

.post h2 {

    padding: 2px 0 10px 0;
}
#footer {
    clear: both;
    height: 72px;
    margin: 0 auto;
    width: 742px;
}
#footer b {
    color: #ffffff;
    text-align: center;
}

#footer a:hover {
    color: #40662B;
}

h1 {
    margin: 0;
    padding-top: 70px;
}
h2 {
    margin: 30px 0 0;
}
h2.pagetitle {
    margin-top: 30px;
    text-align: center;
}
#sidebar h2 {
    margin: 5px 0 0;
    padding: 0;
}
h3 {
    margin: 30px 0 0;
    padding: 0;
}
h3.comments {
    margin: 40px auto 20px;
    padding: 0;
}

.entry ul li:before, #sidebar ul ul li:before {
    content: "- ";
}
.postmetadata ul, .postmetadata li {
    display: inline;
    list-style-image: none;
    list-style-type: none;
}
#sidebar ul, #sidebar ul ol {
    margin: 0;
    padding: 0;
}
#sidebar ul li {
    list-style-image: none;
    list-style-type: none;
    margin-bottom: 15px;
}
#sidebar ul p, #sidebar ul select {
    margin: 5px 0 8px;
}
#sidebar ul ul, #sidebar ul ol {
    margin: 5px 0 0 10px;
}
#sidebar ul ul ul, #sidebar ul ol {
    margin: 0 0 0 10px;
}

#sidebar ul ul li, #sidebar ul ol li {
    margin: 3px 0 0;
    padding: 0;
}
#searchform {
    text-align: center;
    width:65px;
}

.single-feed { border-bottom: 2px solid #8EE35D; width: 450px; padding-bottom:20px; }

#searchsubmit {
    width:60px;
}

#sidebar #searchsubmit {
    padding: 1px;
}

select {
    width: 130px;
}

#sidebar {
    padding: 20px 0 10px;
    width: 190px;
}
#sidebar form {
    margin: 0;
}


a img {
    border: medium none;
}
.navigation {
    display: block;
    margin-bottom: 60px;
    margin-top: 10px;
    text-align: center;
}

#new_password {
   width:140px;
}

#new_password input {
   width:130px;
}
.pure-button-primary {
   opacity:0.7;
}

.validation-custom-error {
   display:block;
   width:300px;
   height:auto;
   background-color: #BFBFBF;
   border: 1px solid #717171;
   color: red;
   font-size:14px;
   padding:5px;
}

.validation-custom-notification {
   display:block;
   width:300px;
   height:auto;
   background-color: #AFAFAF;
   border: 1px solid #717171;
   font-size:14px;
   padding:5px;
}

#left-arrow {
   float:left;
}

#right-arrow {
   float:right;
}
