body {
    background: url("images/background.png") repeat scroll 0 0 #8EE35D;
    color: #333;
    font-family: 'Lucida Grande',Verdana,Arial,Sans-Serif;
    font-size: 62.5%;
    text-align: center;
}
#content {
    background: url("images/middle.png");
    border: medium none;
    text-align: left;
    width:705px;
}

ul { list-style-type: none; }

p { white-space: pre-wrap; }

#header {
    background: url("images/header.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
    height: 185px;
    margin: 0;
    padding: 0;
    width: 742px;
}
#header h1 {
    font-size: 22px;
    padding-left: 80px;
    padding-top: 40px;
    text-align: left;
}
#navigation {
    background: url("images/nav.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
    height: 44px;
    line-height: 44px;
}
#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
#navigation ul li {
    display: inline;
}
#navigation ul li a {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 15px 1em;
    text-decoration: none;
}
#navigation ul li a:hover {
    background: url("images/nav_hover.png") repeat scroll center bottom rgba(0, 0, 0, 0);
    color: #fee202;
}
#content {
    font-size: 1.2em;
}
.narrowcolumn .entry, .widecolumn .entry {
    line-height: 1.4em;
}
.narrowcolumn .postmetadata {
    text-align: center;
}
.alt {
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
#footer {
    background: url("images/footer.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
    border: medium none;
}
#footer a {
    color: #ffffff;
}
small {
    font-family: Arial,Helvetica,Sans-Serif;
    font-size: 0.9em;
    line-height: 1.5em;
}
h1, h2, h3 {
    font-family: 'Trebuchet MS','Lucida Grande',Verdana,Arial,Sans-Serif;
    font-weight: bold;
}
h1 {
    font-size: 4em;
    text-align: center;
}
#headerimg .description {
    font-size: 1.4em;
    font-weight: bold;
    padding-left: 80px;
    text-align: left;
}

h2 {
    font-size: 1.6em;
}
h2.pagetitle {
    font-size: 1.6em;
}
#sidebar li {
    padding: 0 0 10px;
}

#sidebar li h2 {
    background-position: left top;
    background-repeat: no-repeat;
    color: #4A9121;
    font-family: 'Lucida Grande',Verdana,Sans-Serif;
    font-size: 12px;

}
h3 {
    font-size: 1.3em;
}
h1, h1 a, h1 a:hover, h1 a:visited, #headerimg .description {
    color: #8EE35D;
    text-shadow: 1px 1px 1px #69A845;
    text-decoration: none;
}
h2, h2 a, h2 a:visited, h3, h3 a, h3 a:visited {
    color: #8EE35D;
    text-shadow: 1px 1px 1px #69A845;
}
h2, h2 a, h2 a:hover, h2 a:visited, h3, h3 a, h3 a:hover, h3 a:visited, #sidebar h2, #wp-calendar caption, cite {
    text-decoration: none;
}
.entry p a:visited {
    color: #b85b5a;
}
.commentlist li, #commentform input, #commentform textarea {
    font: 0.9em 'Lucida Grande',Verdana,Arial,Sans-Serif;
}
.commentlist li {
    font-weight: bold;
}
.commentlist cite, .commentlist cite a {
    font-size: 1.1em;
    font-style: normal;
    font-weight: bold;
}
.commentlist p {
    font-weight: normal;
    line-height: 1.5em;
    text-transform: none;
}
#commentform p {
    font-family: 'Lucida Grande',Verdana,Arial,Sans-Serif;
}
.commentmetadata {
    font-weight: normal;
}
#sidebar {
    font: 1.2em 'Lucida Grande',Verdana,Arial,Sans-Serif;
    float:left;
}
small, #sidebar ul ul li, #sidebar ul ol li, .nocomments, .postmetadata, blockquote, strike {
    color: #777;
}
code {
    font: 1.1em 'Courier New',Courier,Fixed;
}
acronym, abbr, span.caps {
    font-size: 0.9em;
    letter-spacing: 0.07em;
}
a, h2 a:hover, h3 a:hover {
    color: #4A9121;
    text-decoration: none;
}
a:hover {
    color: #64BF30;
}
body {
    margin: 0;
    padding: 0;
}
#page {

    margin: 0 auto;
    padding: 0;
    width: 742px;
}
.narrowcolumn {
    float: left;
    margin: 0;
    padding: 0 0 20px 35px;
    width: 450px;
}
.post {
    margin: 0 0 40px;
    text-align: justify;
    float:left;
    width:500px;
}
.post h2 {

    padding: 2px 0 10px 0;
}
#footer {
    clear: both;
    height: 72px;
    margin: 0 auto;
    width: 742px;
}
#footer b {
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}
h1 {
    margin: 0;
    padding-top: 70px;
}
h2 {
    margin: 30px 0 0;
}
h2.pagetitle {
    margin-top: 30px;
    text-align: center;
}
#sidebar h2 {
    margin: 5px 0 0;
    padding: 0;
}
h3 {
    margin: 30px 0 0;
    padding: 0;
}
h3.comments {
    margin: 40px auto 20px;
    padding: 0;
}
p img {
    max-width: 100%;
    padding: 0;
}
img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.alignright {
    display: inline;
    margin: 0 0 2px 7px;
    padding: 4px;
}
img.alignleft {
    display: inline;
    margin: 0 7px 2px 0;
    padding: 4px;
}
.alignright {
    float: right;
}
.alignleft {
    float: left;
}

.entry ul li:before, #sidebar ul ul li:before {
    content: "- ";
}
.entry ol {
    margin: 0;
    padding: 0 0 0 35px;
}
.entry ol li {
    margin: 0;
    padding: 0;
}
.postmetadata ul, .postmetadata li {
    display: inline;
    list-style-image: none;
    list-style-type: none;
}
#sidebar ul, #sidebar ul ol {
    margin: 0;
    padding: 0;
}
#sidebar ul li {
    list-style-image: none;
    list-style-type: none;
    margin-bottom: 15px;
}
#sidebar ul p, #sidebar ul select {
    margin: 5px 0 8px;
}
#sidebar ul ul, #sidebar ul ol {
    margin: 5px 0 0 10px;
}
#sidebar ul ul ul, #sidebar ul ol {
    margin: 0 0 0 10px;
}

#sidebar ul ul li, #sidebar ul ol li {
    margin: 3px 0 0;
    padding: 0;
}
#searchform {
    text-align: center;
    width:65px;
}

.single-feed { border-bottom: 2px solid #8EE35D; width: 450px; padding-bottom:20px; }

#searchsubmit {
    width:60px;
}

#sidebar #searchsubmit {
    padding: 1px;
}
.entry form {
    text-align: center;
}
select {
    width: 130px;
}
#commentform input {
    margin: 5px 5px 1px 0;
    padding: 2px;
    width: 170px;
}
#commentform textarea {
    padding: 2px;
    width: 100%;
}
#commentform #submit {
    float: right;
    margin: 0;
}
.alt {
    margin: 0;
    padding: 10px;
}
.commentlist {
    padding: 0;
    text-align: justify;
}
.commentlist li {
    list-style: none outside none;
    margin: 15px 0 3px;
    padding: 5px 10px 3px;
}
.commentlist p {
    margin: 10px 5px 10px 0;
}
#commentform p {
    margin: 5px 0;
}
.nocomments {
    margin: 0;
    padding: 0;
    text-align: center;
}
.commentmetadata {
    display: block;
    margin: 0;
}
#sidebar {
    padding: 20px 0 10px;
    width: 190px;
}
#sidebar form {
    margin: 0;
}
acronym, abbr, span.caps {
    cursor: help;
}
acronym, abbr {
    border-bottom: 1px dashed #999;
}
blockquote {
    border-left: 5px solid #ddd;
    margin: 15px 30px 0 10px;
    padding-left: 20px;
}
blockquote cite {
    display: block;
    margin: 5px 0 0;
}
.center {
    text-align: center;
}
hr {
    display: none;
}
a img {
    border: medium none;
}
.navigation {
    display: block;
    margin-bottom: 60px;
    margin-top: 10px;
    text-align: center;
}
.entrytext {
   padding:0 25px 0 0;
}
#new_password {
   width:140px;
}

#new_password input {
   width:130px;
}
.pure-button-primary {
   opacity:0.7;
}
