
<h2>Új hír bejegyzés</h2>
<form action="/feed" class="pure-form pure-form-stacked" method="post">
  <%= Rack::Csrf.csrf_tag(env) %>
  <label for="feed_title">Cím:</label><br />
  <input id="feed_title" name="feed[title]" placeholder="Hír bejegyzés címe" required="required" pattern="[\s\u00c0-\u00ffA-Za-z0-9 \.,!?]{1,}" data-errormessage-pattern-mismatch="A címben csak betű, szám, pont, vessző, felkiáltójel és kérdőjel lehet, valamint space karakter." type="text"/>
  <br />
 
  <label for="feed_content">Tartalom:</label><br />
  <textarea id="feed_content" name="feed[content]" placeholder="Hír bejegyzés tartalma" required="required" pattern="[\s\u00c0-\u00ffA-Za-z0-9 \.,!?]{1,}" data-errormessage-pattern-mismatch="A tartalomban csak betű, szám, pont, vessző, felkiáltójel és kérdőjel lehet, valamint space karakter." rows="40" cols="55"></textarea>
  <br />
  
  <input type="hidden" name="feed[is_deleted]" value="<%= false %>" />
 
  <input type="submit" class="pure-button pure-button-primary" value="Hírbejegyzés létrehozása" />


  <script>
    CKEDITOR.replace( 'feed_content' );
  </script>
</form>

