
<h2>Új hír bejegyzés</h2>
<form action="/feed" id="feed-form" class="pure-form pure-form-stacked" method="post">
  <%= Rack::Csrf.csrf_tag(env) %>
  <label for="feed_title">Cím:</label><br />
  <input id="feed_title" name="feed[title]" placeholder="Hír bejegyzés címe" type="text"/>
  <br />
 
  <label for="feed_content">Tartalom:</label><br />
  <textarea id="feed_content" name="feed[content]" rows="40" cols="55"></textarea>
  <br />
  
  <input type="hidden" name="feed[is_deleted]" value="<%= false %>" />
 
  <input type="submit" class="pure-button pure-button-primary" value="Hírbejegyzés létrehozása" />


  <script>
    CKEDITOR.replace( 'feed_content',
        {
		language: 'hu'
	});
  </script>

</form>

